body {
    background-image: url("sfondo2.jpg");    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.films:hover{
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa, 
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa !important;
}
.films{
    width: fit-content;
    color: rgb(124, 205, 3) !important;
}
#Film{
    padding-top: 15px;
}

.card-img-top{
    width: 285px !important;
    height: 350px !important;
}
